@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav {
    height: 200px;
    width: 100%;
}

.navsec {
    height: 200px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.rnav {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.home {
    display: flex;
    gap: 60px;
}

.home li {
    list-style: none;
}

.color {
    color: rgb(137, 135, 161);
}

.banner {
    height: 460px;
    width: 100%;
}

.bannersec {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lbanner {
    width: 35%;
    margin: 150px 0;
}

.btitle {
    font-size: 2.5rem;
}

.btitle span {
    color: rgb(233, 90, 8);
}

.bdescription {
    color: rgb(137, 135, 161);
}

.bimage {
    width: 100%;
}

.plants {
    height: 1290px;
    width: 100%;
}

.plant {
    width: 90%;
    margin: 0 auto;
}

.planthead {
    align-items: center;
    text-align: center;
    height: 190px;
}

.planttitle {
    font-size: 2.5rem;
}

.plantdescription {
    padding-top: 30px;
    width: 50%;
    height: 140px;
    margin: 0 auto;
    color: rgb(137, 135, 161);
}

.card {
    height: 450px;
    width: 270px;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.amount {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.flowername {
    margin-top: 15px;
    font-weight: 500;
    font-style: 1.3rem;
}

.btn {
    margin-top: 15px;
    width: 100%;
    height: 37px;
    background-color: rgb(233, 90, 8);
    color: rgb(232, 223, 223);
    font-weight: 500;
    font-size: .8rem;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.join {
    height: 400px;
    width: 100%;
    background-image: url(/assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}

.joinsec {
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 140px;
}

.email {
    width: 60%;
    height: 40px;
    border: none;
}

.jbtn {
    width: 20%;
    height: 40px;
    margin-left: 0;
    background-color: rgb(233, 90, 8);
    color: rgb(232, 223, 223);
    font-weight: 500;
    font-size: .8rem;
    border: none;
    position: relative;
    right: 6px;
}

.jtitle {
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 30px;
    color: white;
}

.plantslover {
    height: 700px;
    width: 100%;
}

.plantlover {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rightplantlover {
    padding-top: 120px;
    width: 50%;
}

.titleplantlover {
    font-weight: 700;
    font-size: 2.5rem;
}

.rightplantlover ul {
    color: rgb(137, 135, 161);
}

.rightplantlover li {
    padding-top: 30px;
}

.trust {
    position: absolute;
    right: 820px;
    bottom: -1360px;
}

.trustimage {
    height: 300px;
    width: 300px;
}

.footer {
    height: 350px;
    width: 100%;
}

.footersec {
    width: 70%;
    margin: 20px auto;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.fourthstep {
    display: flex;
}

.sponsors {
    height: 30px;
    width: 32px;
    padding: 10px;
}

.fdescription {
    padding-top: 10px;
    color: rgb(137, 135, 161);
}

.secondstep li {
    list-style: none;
    padding-top: 15px;
    color: rgb(137, 135, 161);
}

.thirdstep li {
    list-style: none;
    padding-top: 15px;
    color: rgb(137, 135, 161);
}