@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav {
    height: 200px;
    width: 100%;
    background-color: aqua;
}

.navsec {
    height: 200px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 82px;
    width: 130px;
}

.rnav {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.home {
    display: flex;
    gap: 60px;
}

.home li {
    list-style: none;
}

.color {
    color: rgb(137, 135, 161);
}

.banner {
    height: 460px;
    width: 100%;
}

.bannersec {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lbanner {
    width: 35%;
    margin: 150px 0;
}

.btitle {
    font-size: 2.5rem;
}

.btitle span {
    color: rgb(233, 90, 8);
}

.bdescription {
    padding-top: 10px;
    color: rgb(137, 135, 161);
}

.bimage {
    width: 100%;
    height: 355px;
}

.plants {
    height: 1290px;
    width: 100%;
}

.plant {
    width: 90%;
    margin: 0 auto;
}

.planthead {
    align-items: center;
    text-align: center;
    height: 190px;
}

.planttitle {
    font-size: 2.5rem;
}

.planttitle span {
    color: rgb(233, 90, 8);
}

.plantdescription {
    padding-top: 30px;
    width: 50%;
    height: 140px;
    margin: 0 auto;
    color: rgb(137, 135, 161);
}

.card {
    height: 450px;
    width: 270px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.amount {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.flowername {
    margin-top: 15px;
    font-weight: 500;
    font-style: 1.3rem;
}

.btn {
    margin-top: 15px;
    width: 100%;
    height: 37px;
    background-color: rgb(233, 90, 8);
    color: rgb(232, 223, 223);
    font-weight: 500;
    font-size: .8rem;
    border: none;
}

.cards {
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cardimage {
    height: 320px;
    width: 100%;
}

.join {
    height: 400px;
    width: 100%;
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.joinsec {
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 140px;
}

.email {
    width: 60%;
    height: 40px;
    border: none;
}

.jbtn {
    width: 20%;
    height: 40px;
    margin-left: 0;
    background-color: rgb(233, 90, 8);
    color: rgb(232, 223, 223);
    font-weight: 500;
    font-size: .8rem;
    border: none;
    position: relative;
    right: 6px;
}

.jtitle {
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 30px;
    color: white;
}

.plantslover {
    height: 700px;
    width: 100%;
}

.lover {
    height: 597px;
    width: 100%;
}

.plantlover {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rightplantlover {
    padding-top: 120px;
    width: 50%;
}

.titleplantlover {
    font-weight: 700;
    font-size: 2.5rem;
}

.rightplantlover ul {
    color: rgb(137, 135, 161);
}

.rightplantlover li {
    padding-top: 30px;
}

.trust {
    position: absolute;
    right: 640px;
    bottom: -1470px;
}

.trustimage {
    height: 300px;
    width: 300px;
}

.footer {
    height: 350px;
    width: 100%;
}

.footersec {
    width: 70%;
    margin: 20px auto;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.fourthstep {
    display: flex;
}

.sponsors {
    height: 30px;
    width: 32px;
    padding: 10px;
}

.fdescription {
    padding-top: 15px;
    color: rgb(137, 135, 161);
}

.secondstep {
    padding-left: 20px;
}

.secondstep li {
    list-style: none;
    padding-top: 15px;
    color: rgb(137, 135, 161);
}

.thirdstep li {
    list-style: none;
    padding-top: 15px;
    color: rgb(137, 135, 161);
}

.latest {
    height: 600px;
    width: 100%;
}

.latestsec {
    width: 70%;
    margin: 0 auto;
    height: 600px;
}

.latesthead {
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.leftlatestimage {
    width: 50%;
    height: 500px;
}

.leftfirst {
    background-image: url(assets/deal-bloom.png);
    background-size: cover;
    margin: 10px;
    padding: 59px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.leftsecond {
    background-image: url(assets/deal-ana.png);
    background-size: cover;
    margin: 10px;
    padding: 60px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.rightlatestimage {
    width: 50%;
    height: 170px;
}

.rightlatestimage {
    background-image: url(assets/deal-zabo.png);
    background-size: cover;
    padding: 100px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.latestimage {
    display: flex;
}

.righttitle {
    margin-top: 50px;
}

.latesttitle {
    font-weight: 700;
    font-size: 2.5rem;
}

.latesttitle span {
    color: rgb(233, 90, 8);
}

.latestdescription {
    color: rgb(137, 135, 161);
    margin: 20px;
}

.item {
    color: white;
}

.leftfirsttitle {
    color: white;
}

.righttitle {
    color: white;
}

@media (min-width: 360px) and (max-width: 450px) {
    .navsec {
        height: 50px;
    }
    .logo {
        height: 70px;
        width: 90px;
    }
    .text {
        visibility: hidden;
        display: none;
    }
    /* .icon {
        position: relative;
        right: 160px;
    } */
    .banner {
        height: 600px;
    }
    .bannersec {
        flex-direction: column-reverse;
        width: 100%;
    }
    .rbanner {
        width: 100%;
        height: 500px;
    }
    .lbanner {
        width: 90%;
        margin: -130px 0;
        padding: 5%;
    }
    .bimage {
        /* height: 240px;
        width: 245%;
        position: relative;
        right: 155px; */
    }
    .btitle {
        font-size: 1.8rem;
    }
    .bdescription {
        font-size: .8rem;
    }
    .planttitle {
        font-size: 2rem
    }
    .plantdescription {
        padding-top: 20px;
        width: 85%;
        height: 140px;
        font-size: .8rem;
    }
    .planthead {
        height: 100px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .card {
        margin-top: 60px;
        width: 185px;
        padding: 1px;
        height: 400px;
    }
    .plants {
        height: 2120px;
    }
    .plantlover {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .plantslover {
        height: 1000px;
    }
    .rightplantlover {
        padding: 9px;
        padding-top: 30px;
        width: 90%;
    }
    .titleplantlover {
        font-size: 1.8rem;
    }
    .rightplantlover ul {
        font-size: .8rem;
    }
    .latestsec {
        width: 90%;
    }
    .latesthead {
        width: 90%;
    }
    .latesttitle {
        font-size: 2.0rem;
    }
    .latestdescription {
        margin-bottom: 15px;
        font-size: .8rem;
    }
    .latestimage {
        flex-direction: column;
    }
    .leftlatestimage {
        width: 100%;
        height: 370px;
    }
    .leftfirst {
        margin: 5px 0;
        padding: 61px;
    }
    .leftsecond {
        margin: 10px 0;
        padding: 63px;
    }
    .rightlatestimage {
        padding: 98px;
        margin: 0px;
    }
    .latest {
        height: 740px;
    }
    .rightlatestimage {
        text-align: center;
        align-items: center;
        height: 0px;
    }
    .righttitle {
        margin-top: -20px;
    }
    .jtitle {
        font-size: 2.0rem;
    }
    .joinsec {
        padding-top: 120px;
    }
    .footer {
        height: 930px;
    }
    .footersec {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 6px;
    }
    .secondstep {
        padding-left: 0px;
    }
    .fdescription {
        padding-top: 20px;
    }
}